<form [formGroup]="loginform"(ngSubmit)="onpress()">
    <div class="container-lg">
        <div class="row ">
            <div class="col-sm-6 ">
                <div class="card ">
                    <div class="row card-body ">
                        <div class="col-sm-6">
                            <h5 class="card-title"></h5>
                            <p class=" h2 card-text">Contact Our Customer Support Center</p>  
                        </div>
                            <img class="col-sm-6" src="\assets\photo\photo-1.avif" alt="sans" />

                    </div>
                </div>
            </div>
        </div>

        <div>
            <p class="h3 text-center">Contact Information</p>
            <p class=" text-center"><small>Please fill out your contact information below</small></p>
        </div>

        <div class="form-row">
            <div class="col">
                <label >First Name</label>
                <input type="text" [class.is-invalid] = "FirstName?.invalid && FirstName.touched" class="form-control "  formControlName="firstname">
                <span><small class="text-danger  "  *ngIf="FirstName.errors?.['required'] && FirstName.touched "
                    >first name is required</small></span>
                <div class="text-danger "*ngIf="FirstName.errors?.['pattern']">Alphabates only</div>
                
            </div>
            <div class="col">
                <label >Last Name</label>
                <input type="text" class="form-control" placeholder="Last name"formControlName="lname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" [class.is-invalid] = "Email?.invalid && Email.touched"class="form-control" id="inputEmail4" placeholder="Email"formControlName="email">
                <div class="text-danger" *ngIf="Email.errors?.['required']&& Email.touched">
                    <small>email is required</small>
                </div>
                <small class="text-danger" *ngIf="Email.errors?.['pattern']"> not valid email</small>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPhone4">Phone number</label>
                <input type="text" [class.is-invalid] = "PhoneNumber?.invalid && PhoneNumber.touched"class="form-control" id="inputPhone4" placeholder="phone"formControlName="phone">
                <div class="text-danger" *ngIf="PhoneNumber.errors?.['required']&& PhoneNumber.touched">
                    <small>phone number is required</small>
                </div>
                <div class="text-danger" *ngIf="PhoneNumber.errors?.['minlength']"then>
                    <small>phone number is to short</small>
                    <small else *ngIf="PhoneNumber.errors?.['pattern']">and Numbers only</small>
                </div>
                <div class="text-danger" *ngIf="PhoneNumber.errors?.['maxlength']"then>
                    <small>phone number is to long</small>
                    <small else *ngIf="PhoneNumber.errors?.['pattern']"> and Numbers only</small>
                    
                </div>
                
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"formControlName="add">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-danger text-center" [disabled]="loginform.invalid" value="onpress" >SUBMIT FORM</button>
        </div>
    </div>
</form>